*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(148, 221, 243);
}

/*HEADER PROPERTY*/
.header_nav_container{ 
    display: flex;    
    justify-content: center;
    margin: auto;
    padding: 20px 40px;
    font-size: 24px;
}

.logo, .header_nav, .login{
    background-color: rgb(255, 174, 0);
    padding: 8px;
    border: 1px dashed black;
}

.logo, .login{
    width: 200px;
}

.header_nav{
    width: 100%;
    max-width: 760px;
    text-align: center;
}   

.logo{
    text-align: left;
}

.login{
    text-align: right;
}

.section_header{
    background-color: rgb(0, 0, 160);
    padding: 40px 40px;
}

.section_header .header_sect_container{
    max-width: 900px;
    height: 400px;
    background-color: rgb(247, 97, 227);
    margin: auto;
}

/*SECTIONS PROPERTY*/
.main_sect_container{
    padding: 40px 40px;
}

.main_sect_container .box, .foot_sect_container .box{
    display: flex;
    max-width: 1160px;
    margin: auto;
}

.main_sect_container .box .minibox{
    height: 400px;
}

.main_sect_container .box .minibox.pink{ 
    background-color: rgb(255, 169, 229);
    flex-grow: 3;
}

.main_sect_container .box .minibox.blue{ 
    background-color:  rgb(8, 111, 170); 
    flex-grow: 4;
}   

main > .bckgr_grey{
    background-color: rgb(211, 211, 211);
}

.order1{
    order: 1;
}

.order2{
    order: 2;
}

.main_sect_container .box .green_box{
    width: 1160px;
    height: 900px;
    margin: auto;
    background-color: green;
}

.foot_sect_container .box .minibox_footer{
    min-width: 80px;
    height: 500px;
    border: 1px dashed white;
}

.foot_sect_container .box .foot_grow{
    flex-grow: 4;
    background-color: rgb(184, 87, 103);
}

footer > .hr_grey{
    color: grey;
}

.aqua{
    background-color: aqua;
    flex-grow: 1;
}

footer > .foot_sect_container{
    background-color: rgb(44, 44, 44);
}

.foot_sect_container.first{
    padding: 10px 40px 30px;
}

.foot_sect_container.second{
    padding: 20px 40px 0;    
}

.foot_sect_container .footblock{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    line-height: 30px;
    margin: auto;
    background-color: aquamarine;
    font-size: 30px;
    padding: 20px 0 20px;
}

.foot_sect_container .logo_footer, .foot_sect_container .button{
    background-color: grey;
    border: 1px dashed white;
    padding: 5px
}